        <div class="footer">
            <div id="share-icons">
                <!-- I got these buttons from simplesharebuttons.com -->
                <a href="http://www.facebook.com/sharer.php?u=https://idealstrengthcalculator.com" target="_blank">
                    <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
                </a>
                <a href="https://twitter.com/share?url=https://idealstrengthcalculator.com&amp;text=Simple%20Share%20Buttons&amp;hashtags=simplesharebuttons" target="_blank">
                    <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
                </a>
                <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://idealstrengthcalculator.com" target="_blank">
                    <img src="https://simplesharebuttons.com/images/somacro/linkedin.png" alt="LinkedIn" />
                </a>
                <a href="mailto:?Subject=Simple Share Buttons&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20 https://idealstrengthcalculator.com">
                    <img src="https://simplesharebuttons.com/images/somacro/email.png" alt="Email" />
                </a>
            </div>

            <p id="disclaimer">*Calculations are meant to provide a baseline of weight and repetition values based on common
                research on the ratios of ideal strength between certain exercises. The results may not accurately 
                portray your specific case, and do NOT warrant the attempt of any given exercise using a certain weight.
                Please use these values as a baseline, conduct more research, and weight train safely and responsibly.
            </p>

            <div id="contact">
                <a href="mailto:mattsaxe17@gmail.com" class="button">Email me</a>
            </div>
        </div>
        
        <script src="js/data.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
